.home-container {
  padding: 10px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.home-content-container h1 {
  font-size: 22px;
  font-style: bold;
  margin-top: 35px;
}

.home-content-container p {
  font-size: 14px;
  margin-top: 13px;
  margin-bottom: 51px;
  margin-left: 20px;
  margin-right: 20px;
}

.home-image-container {
  padding: 62px 28px 0px;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}

.home-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.home-button-container p {
  margin-top: 21px;
  font-size: 18px;
  font-style: 400px;
}

@media (min-width: 992px) {
  .home-button-container {
    justify-content: left;
    flex-direction: row;
    margin-left: 121px;
  }

  .home-button-container p {
    margin-left: 16px;
  }

  .home-button-container-text {
    display: inline-block;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .home-card {
    flex-direction: row-reverse;
    justify-content: center;
    height: 365px;
    margin: 30px 100px;
  }

  .home-content-container {
    width: 420px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .home-content-container h1 {
    margin-top: 140px;
    font-size: 36px;
  }

  .home-content-container p {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 18px;
    text-align: left;
  }

  .home-button-container {
    margin-left: 235px;
    text-align: left;
  }
}
